doctype 5
html
  head
    title= '고양이 사진첩'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//code.jquery.com/jquery-1.11.1.js')
    //- 부트스트랩 연결
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js", integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
    script(src='/socket.io/socket.io.js')
  body
    center
      p 
      div
        button.btn.btn-info(type='button') 고양이 사진첩
      div
        img#picture.form-control(readonly='')
      form#btns
        //- input#name.form-control(type='text') 
        //- input#message.form-control(type='text') 
        button.btn#back.btn-primary(type='submit') 이전
        p#pages 1/2
        button.btn#next.btn-primary(type='submit') 다음
        //- button.btn.btn-primary(type='submit') 전송  
      //- #box.box
    script.
      var socket = io(); 

      socket.on('connect', function(now, data){
        console.log('data: ', now);
        //- console.log(now);
        console.log('connect!');
        //- var page = now;
        //- var pages = total;
        
        //- console.log('total: ' + page);
        //- console.log('page: ' + pages);
        //- $("#picture").attr('src', '../public/images/2.jpg');
      });

      //이전 버튼을 누를 때
      $('#back').on('submit', function(e){
        //- socket.on('connect', function(now, total);
        socket.emit('back', $())
      });

      //다음 버튼을 누를 때
      $('#next').on('submit', function(e){
        socket.emit('back', $())
      });



      //- $('#chat').on('submit', function(e){   // 전송 버튼을 누를 때 - 1
      //- socket.emit('send message', $('#name').val(), $('#message').val());
      //- $('#message').val('');
      //- $('#message').focus();
      //- e.preventDefault();
      //- });
			
      //- socket.on('create name', function(name){  // 이름 셋팅 - 2
      //- $('#name').val(name);
      //- });

      //- socket.on('receive message', function(msg){   // 메세지를 받았을 때 - 3
      //- $('#chatLog').append(msg+'\n');
      //- $('#chatLog').scrollTop($('#chatLog')[0].scrollHeight);
      //- });